 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/1737662_medium2000.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 800px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 407px 79px 60px 125px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 322px;
    margin-right: 0;
    margin-left: 38px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 239px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 370px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  text-align: center;
  margin: 116px auto 0;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  text-align: center;
  margin: 12px 268px 0 auto;
}

.u-section-2 .u-text-3 {
  text-align: center;
  width: 515px;
  margin: -43px auto 60px;
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 205px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    margin-right: 154px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1.5rem;
    margin-right: 97px;
  }

  .u-section-2 .u-text-3 {
    width: 340px;
  }
}