 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 482px;
}

.u-section-1 .u-slider-1 {
  min-height: 452px;
  width: 1020px;
  margin: 30px auto 0;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 113px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 47px auto 0;
}

.u-section-1 .u-text-1 {
  font-size: 1.5rem;
  background-image: none;
  margin: 66px 30px 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 44px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  width: 580px;
  margin: 69px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 30px;
  height: 30px;
  left: 60px;
  right: auto;
  position: absolute;
}

.u-section-1 .u-carousel-control-2 {
  width: 30px;
  height: 30px;
  left: auto;
  right: 60px;
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-1 .u-slider-1 {
    height: auto;
    width: 940px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: 581px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-slider-1 {
    width: 720px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-slider-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 455px;
}

.u-section-2 .u-slider-1 {
  min-height: 413px;
  width: 893px;
  margin: 42px auto 0;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 105px;
}

.u-section-2 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 56px;
}

.u-section-2 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 49px auto 0;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  background-image: none;
  margin: 44px 21px 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 53px;
}

.u-section-2 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 47px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  background-image: none;
  margin: 46px 15px 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 35px;
  height: 35px;
}

.u-section-2 .u-carousel-control-2 {
  width: 35px;
  height: 35px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-slider-1 {
    height: auto;
  }

  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-slider-1 {
    width: 720px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 55px;
    padding-right: 55px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 55px;
    padding-right: 55px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-slider-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 649px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 565px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 586px;
}

.u-section-3 .u-list-1 {
  width: 976px;
  margin: 60px auto;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 25px));
  min-height: 466px;
  grid-gap: 50px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 19px 20px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-2 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-2 {
  padding: 19px 20px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-4 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-3 {
  padding: 19px 20px;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-6 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.1);
}

.u-section-3 .u-container-layout-4 {
  padding: 19px 20px;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  margin: 0 auto 0 1px;
}

.u-section-3 .u-text-8 {
  margin-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-3 .u-list-item-2 {
    background-size: auto;
  }

  .u-section-3 .u-list-item-3 {
    background-size: auto;
  }

  .u-section-3 .u-list-item-4 {
    background-size: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-list-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}